@font-face {
  src: url("../fonts/tway_fly.ttf");
  font-family: tway;
}

* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: black;
  margin-top: 75px;
  margin-bottom: 30px;
  padding: 30px;
  font-family: tway;
}


.create_content {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: 10px;
  margin-right: 10px;
}