{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>레스토랑 연습</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href={% static 'foods/css/styles.css' %}>
</head>
<body>
  <div> September 24 , 2022 </div>
  <hr/>

  <h1>레스토랑 연습</h1>
  <h2>클론 코딩</h2>
  
  <div class="food-container">

    <div class="food">
      <img src={% static 'foods/images/chicken.jpg' %} width="300px" height="200px"/>
      <div class="info">
        <h3>코딩에 빠진 닭</h3>
        <P>주머니가 가벼운 당신의 마음까지 생각한 가격!</p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
    <div class="food">
      <img src={% static 'foods/images/sushi.jpg' %} width="300px" height="200px"/>
      <div class="info">
        <h3>코코스시</h3>
        <P>주머니가 가벼운 당신의 마음까지 생각한 가격!</p>
        <a href="#">메뉴 보기</a>
      </div>
    </div>
    
  
    
  </div>
</body>
</html>