{% extends '../base/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<div class="container">
<h1>{{ review.pk }}번 게시글</h1>
<p>{{ review.created_at|date:"SHORT_DATETIME_FORMAT" }} | {{ review.updated_at|date:"y-m-d D" }}</p>
<p>{{ review.content }} </p>
{% if review.image %}
<img src="{{ review.image.url }}" alt="{{ review.image }}" width="400" height="300">
{% endif %}
<div>
{% if review.author == user %}
<a href="{% url 'review-update' review.pk %}">수정하기</a>

{% endif %}
<a href="{% url 'index' %}">목록으로</a>
</div>

<h4 class="my-3">댓글</h4>
<form action="{% url 'comment-create' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form layout='inline'%}
    {% bootstrap_button button_type="submit" content="OK" %}
</form>
<hr>
{% for comment in comments %}
    <p>{{ comment.content }}</p>
    <hr>    
{% empty %}
    <p>댓글이 없어요! 댓글을 써보시겠어요?</p>
{% endfor %}
</div>
{% endblock %}